<body>

<div>
<h2 class="headingUsers">All registered users</h2>
<p class="textUsers">Users is a simple tabel of registered users. It can bee seen only if you are registered.</p>
</div>

<div>
<ul class="listOfUsers">
    <li *ngFor="let user of users">
        Username: {{user.username}} ||
        First name: {{user.firstName}} ||
        Last name: {{user.lastName}} --> 
        <button class="btn" (click)="deleteUser(user.id)">Delete</button>
    </li>
</ul>
</div>
</body>