 .btn{
    background-color: rgb(255, 255, 255); /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #ff0000;
}

.btn:hover{
    background-color: #ff0000;
    color: white;
}

.headingUsers{
    padding: 10px;
}

.listOfUsers{
    padding: 10px;
}

.textUsers{
    padding-left: 10px;
    font-style: oblique;
    font-size: 15px;
}