<div [ngClass]="setImportants()">
<div [ngClass]="setClasses()">
<p>

<input (change)="onToggle(todo)" type="checkbox" />
    {{ todo.title }}
    
<button (click)="onDelete(todo)" class="del">X</button>
<button (click)="onImp(todo)" class="imp">IMPORTANT</button>

</p>
</div>
</div>

