.todo{
    background: white;
    padding: 15px;
    border-bottom: 1px white dotted;
}

.is-complete{
    text-decoration: line-through;
}

.imp {
    display: inline-block;
    padding: 5px 9px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 40%;
    box-shadow: 0 9px #999;
  }
  
  .imp:hover {background-color: #3e8e41}
  
  .imp:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .del {
    display: inline-block;
    padding: 5px 9px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
  }
  
  .del:hover {background-color: red}
  
  .del:active {
    background-color: darkred;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .highlightText {
    background: rgb(43, 255, 0);
}