<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>

<h2 class="login">Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <label for="username"></label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username..."/>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div class="error" *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password"></label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password..."/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div class="error" *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn">
            Login
        </button>

        <button  class="btn" routerLink="/register">
            Register
        </button>
    </div>
</form>