.form-group{
    padding: 10px;
}

.login{
    padding: 10px;
}

.error{
    color: red;
    padding: 10px;
}

.btn{
    background-color: rgb(255, 255, 255); /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
}

.btn:hover{
    background-color: #555555;
    color: white;
}

.form-control{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
.form-control:focus {
    border: 3px solid #555;
  }