<app-search-todo>
</app-search-todo>

<app-add-todo 
(addTodo) = "addTodo($event)"
>
</app-add-todo>

<app-todo-item *ngFor="let todo of todos" [todo]="todo"
(deleteTodo) = "deleteTodo($event)"
>
</app-todo-item>

<div class="footer">
    <p>Made by: Žiga M. Holc</p>
    <p>Email: email</p>
</div>