<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<h2 class="register">Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="First name..."/>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div class="error" *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>

    <div class="form-group">

        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Last name..."/>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div class="error" *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>

    <div class="form-group">

        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username..."/>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div class="error" *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>

    <div class="form-group">

        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password..."/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div class="error" *ngIf="f.password.errors.required">Password is required</div>
            <div class="error" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    
    <div class="form-group">
        <button [disabled]="loading" class="btn">
            Register
        </button>

        <button routerLink="/login" class="btn">
            Cancel
        </button>
    </div>
</form>