<header class="header">

    <h1>Todo</h1>
    <ul>
      <li><a routerLink="/">Todo</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/about">Users</a></li>
    </ul>

</header>